<head>
    <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" /> 
    <link rel="stylesheet" href="static/styles/decrypt1.css"> 
</head>

<section id="cover" class="min-vh-100">
    <div id="cover-caption">
        <div class="container">
            <div class="row text-white">
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                    <h1 class="display-4 py-2 text-truncate">Key Decryption</h1>
                    <div class="px-2">
                        <form action="/decrypt1" method="POST" enctype=multipart/form-data class="justify-content-center">
                            <div class="form-group">
                                <label class="form-label" for="dkey">input encrypted key file:</label>
                                <input type="file" class="form-control" id="dkey" name='enckey'/>
                            </div>
                            
                            <button type="submit" class="btn btn-primary btn-lg">Decrypt Key</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>