<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="static/styles/home.css">
</head>

<body class="hm-gradient">
    <br>
    <h2 class="text-center py-4 font-bold font-up danger-text">Secure File Storage on Cloud Using Hybrid Cryptography!!
    </h2>
    <div class="text-center">
        <img src="static/img/home.png" class="rounded-circle">
    </div>
    <br><br>
    <div class="text-center" id='div1'>
        <div class="col-xs-2">
            <a class="btn btn-success btn-lg" href="/encrypt">Encryption</a>
        </div>
    </div>
    <br><br>
    <div class="text-center" id='div2'>
        <a class="btn btn-info btn-lg" href="/decrypt">Decryption</a>
    </div>

</body>